<div class="add-product">
  <h2>Add new product</h2>
  <p class="message">{{addProductMessage}}</p>
  <form
    #addProduct="ngForm"
    class="common-form"
    (ngSubmit)="submit(addProduct.value)"
  >
    <input
      type="text"
      class="form-input"
      placeholder="Enter product name"
      name="name"
      ngModel
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter product price"
      name="price"
      ngModel
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter product category"
      name="category"
      ngModel
    />
    <input
      type="text"
      class="form-input"
      placeholder="Enter product color"
      name="color"
      ngModel
    />
    <textarea
      type="text"
      class="form-input"
      placeholder="Enter product description"
      name="description"
      ngModel
    ></textarea>
    <input
      type="text"
      class="form-input"
      placeholder="Enter product imageURL"
      name="imageURL"
      ngModel
    />
    <button class="form-button">Add Product</button>
  </form>
</div>
